<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>ShishaSevilla</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" type="text/css">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" th:href="@{/}">ShishaSevilla</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Agregar <span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="agregar-cachimba.html" th:href="@{/nueva}">Cachimba</a></li>
              <li><a href="agregar-marca.html" th:href="@{/nuevaMarca}">Marca</a></li>
            </ul>
          </li>


          <li><a href="#">Otros</a></li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-sm-8">
        <h1>Descripción de la cachimba</h1>
      </div>
    </div>
  </div>



  <!-- Header -->
  <div class="container text-center">

    <div class="row">
      <div class="col-sm-12">
        <form method="POST" action="#" th:action="@{/nueva/submit}" th:object="${cachimba}" class="credit-card-div">
          <input type="hidden" th:field="*{id}" id="id" />
          <div class="panel panel-default">
            <div class="panel-heading">

              <div class="row ">
                <div class="col-sm-6">

                  <div class="row ">



                    <div class="col-sm-6">
                      <p><strong>Nombre</strong></p>
                      <p class="cachimba-nombre" th:text=${cachimba.nombre}>Nombre</p>
                    </div>

                    <div class="col-sm-6">
                      <p><strong>Marca</strong></p>
                      <p class="cachimba-marca" th:text=${cachimba.marca.nombre}>Nombre de Marca</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <p><strong>Color</strong></p>
                      <p class="cachimba-color" th:text=${cachimba.color}>Color</p>
                    </div>


                    <div class="col-sm-4">
                      <p><strong>Altura (en centímetros)</strong></p>
                      <p class="cachimba-altura" th:text=${cachimba.altura}>Altura</p>
                    </div>

                    <div class="col-sm-4">
                      <p><strong>Conexiones para manguera</strong></p>
                      <p class="cachimba-numConexManguera" th:text=${cachimba.numConexManguera}>Número de conexiones para manguera</p>
                    </div>

                  </div>


                  <div class="row ">
                    <div class="col-sm-12">
                      <p><strong>Material de Fabricación</strong></p>
                      <p class="cachimba-matFabricacion" th:text=${cachimba.materialFabricacion}>Material de Fabricación</p>
                    </div>
                  </div>


                  <div class="row ">

                    <div class="col-sm-12">
                      <p><strong>Descripción de la cachimba</strong></p>
                      <p class="cachimba-descripcion-cachimba" th:text=${cachimba.descripcion}>Descripción</p>
                    </div>

                  </div>



                  <div class="row ">
                    <div class="col-sm-12">
                      <p><strong>Descripción de la marca</strong></p>
                      <p class="cachimba-descripcion-marca" th:text=${cachimba.marca.descripcion}>Descripción</p>
                    </div>
                  </div>



                </div>
              

              
                <div class="col-sm-6">

                  <div class="row ">
                    <div class="col-sm-6">
                      <img
                        src="https://user-images.githubusercontent.com/5169035/44525654-f0a50880-a6e1-11e8-8522-0f00aa811a6b.png"
                        th:src="${#strings.isEmpty(cachimba.imagen)} ? 'https://user-images.githubusercontent.com/5169035/44525654-f0a50880-a6e1-11e8-8522-0f00aa811a6b.png' : ${cachimba.imagen}"
                        class="img-rounded" />
                    </div>
                  </div>

                  <div class="col-sm-12">

                    <div class="row ">
                      <div class="row ">

                        <div class="col-sm-9">

                        </div>

                        <div class="col-sm-3">
                          	<p><strong>Precio</strong></p>
                      		<p class="cachimba-precio" th:text=${cachimba.precio}>Precio</p>
                        </div>
                      </div>
                      <br>



                      

                    </div>
                  </div>

                </div>
              

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Footer -->

	 
	 <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
		<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	  </div>
	 
	</footer>
	<!-- Footer -->
</body>

</html>