<!DOCTYPE html>
<html lang="en">
<head>
  <title>M&M Custom shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="index_sin_modal.html">M&M Custom shop</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hombre
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="hombre_nueva_coleccion.html">Nueva Colección</a></li>
              <li><a href="hombre_rebajas.html">Rebajas</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mujer
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="mujer_nueva_coleccion.html">Nueva Colección</a></li>
              <li><a href="mujer_rebajas.html">Rebajas</a></li>
            </ul>
          </li>
          <li><a href="niños.html">Niños</a></li>
          <li><a href="tarjeta_regalo.html">Tarjeta Regalo</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>NUEVA COLECCIÓN</h1>      
    <p>Si te gusta ir a la última este será tu sitio favorito en el que combinamos el mejor precio 
      con la última moda. ¿Qué más se puede pedir?</p>
  </div>
</div>

<div class="container text-center">

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc1.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EMIDIO TUCCI</h4>
          <p class="card-text">Jersey de hombre azul con el cuello redondo</p>
          <h4 class="card-title">39,95 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc2.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">DUSTIN</h4>
          <p class="card-text">Polo de hombre classic gris de manga larga</p>
          <h4 class="card-title">33,40 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc3.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">DUSTIN</h4>
          <p class="card-text">Americana de hombre regular liso azul</p>
          <h4 class="card-title">99,95 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc4.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EMIDIO TUCCI</h4>
          <p class="card-text">Chino de hombre custom marrón</p>
          <h4 class="card-title">49,95 €</h4>
          <a href="tarjeta_regalo.htmerror404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>

  </div>

  <br><br><br><br>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc5.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">DUSTIN</h4>
          <p class="card-text">Americana de hombre regular microestampada gris</p>
          <h4 class="card-title">90,30 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc6.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">LLOYD'S</h4>
          <p class="card-text">Chaleco de hombre acolchado amarillo</p>
          <h4 class="card-title">69.95 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc7.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EMIDIO TUCCI</h4>
          <p class="card-text">Chino de hombre custom azul</p>
          <h4 class="card-title">49,95 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc8.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">GREEN COAST</h4>
          <p class="card-text">Chaleco acolchado de hombre azul marino</p>
          <h4 class="card-title">27,99 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc9.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EASY WEAR</h4>
          <p class="card-text">Camiseta de hombre con algodón orgánico mostaza de manga corta</p>
          <h4 class="card-title">9,99 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc10.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">GREEN COAST</h4>
          <p class="card-text">Sudadera de hombre antracita con capucha</p>
          <h4 class="card-title">20.99 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc11.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EASY WEAR</h4>
          <p class="card-text">Chaleco acolchado ligero de hombre mostaza</p>
          <h4 class="card-title">23,99 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc12.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">GREEN COAST</h4>
          <p class="card-text">Cazadora vaquera de hombre azul</p>
          <h4 class="card-title">27,99 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc13.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">STUDIO CLASSICS</h4>
          <p class="card-text">Sudadera de hombre crudo con cuello redondo</p>
          <h4 class="card-title">25,19 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc14.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EMIDIO TUCCI</h4>
          <p class="card-text">Camisa de hombre regular de cuadros multicolor</p>
          <h4 class="card-title">39,45 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc15.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EASY WEAR</h4>
          <p class="card-text">Sudadera de hombre gris claro con cuello redondo</p>
          <h4 class="card-title">16,09 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card" style="width:250px">
        <img class="card-img-top" src="img/nueva_coleccion_hombre/nc16.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">EMIDIO TUCCI</h4>
          <p class="card-text">Americana de hombre regular de punto azul</p>
          <h4 class="card-title">149 €</h4>
          <a href="error404.html" class="btn btn-warning">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </div>


</div>


<br>

<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <div class="row">
      
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sobre nosotros</h5>
        <p>Esta sitio web ha sido creado exclusivamente con fin educativo, para aprender el uso de Boostrap.
          Somos dos alumnos del Grado superior de Desarrollo de Aplicaciones Multipataformas, cursando el primer
          año en el Colegio Salesiano de Triana (Sevilla)
        </p>
        <br>
        <p> Teléfono de pedidos: 900 533 433</p>
        <p>Teléfono de atención al cliente: 900 373 111</p>
      </div>
      

      
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sitios de interés</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://static.zara.net/static//pdfs/ES/privacy-policy/privacy-policy-es_ES-20201030.pdf" class="text-dark">Políticas y Privacidad</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Intagram</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Youtube</a>
          </li>
        </ul>
      </div>
      
    </div>
    <br>
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  
</footer>
<!-- Footer -->

</body>
</html>